#dashboard {
  position: relative;
  padding: 1rem;
}
.dashboard-container {
  display: flex;
  position: relative;
  gap: 1rem;
}
.dashboard-container .sidebar {
  width: 300px;
  background-color: var(--primary-color);
  position: fixed;
  min-height: 100%;
  left: 0%;
  top: 0%;
  padding: 2rem 0rem;
  border-radius: 0px 10px 10px 0px;
}
.sidebar .logo {
  position: relative;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dashboard-container .sidebar menu {
  position: relative;
  margin: 2rem 0rem;
}
.dashboard-container .sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sidebar li {
  color: var(--accent-color);
}
.sidebar a {
  color: var(--accent-color);
  text-decoration: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  border-radius: 5px;
}
.sidebar a.active {
  background: var(--secondary-color);
}
.sidebar a.active::after {
  position: absolute;
  content: "";
  right: -13px;
  top: 8px;
  background-color: var(--secondary-color);
  transform: rotate(234deg);
  padding: 1.3rem;
  border-radius: 5px;
}

.dashboard-container .dashboard-content {
  width: calc(100% - 300px);
  position: relative;
  left: 300px;
  padding: 0rem 2rem;
}

.dashboard-content .content-nav {
  position: sticky;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  top: 5px;
  z-index: 5;
}
.content-nav .menu-icon {
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}

.content-nav .search {
  width: 35%;
  display: flex;
  align-items: stretch;
  background-color: var(--secondary-color);
  padding: 0.2rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
.search input {
  width: 100%;
  padding: 0.7rem;
  font-family: "poppins";
  border: none;
  font-size: 1rem;
  background-color: var(--secondary-color);
  outline: none;
  color: #fff;
}
.search button {
  padding: 0rem 1rem 0rem;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.content-nav .profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  background-color: var(--secondary-color);
  padding: 0.3rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}
.profile .avatar {
  width: 50px;
  height: 50px;
  position: relative;
  border: 3px solid #ddd;
  overflow: hidden;
  border-radius: 5px;
}
.avatar img {
  max-width: 100%;
  height: auto;
}
.profile .text div {
  display: flex;
  flex-direction: column;
}
.profile .text span {
  color: #fff;
}
.profile .text div small {
  color: rgb(151, 151, 151);
}
.profile svg {
  color: #fff;
}
.profile .text {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-right: 0.8rem;
  font-size: 1rem;
}
