/* variables  */

:root {
  --primary-color: #082032;
  --secondary-color: #083758;
  --accent-color: #edd;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "poppins", montserrat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
